<%- include('includes/head.ejs') %>

<body>
    <%- include('includes/header.ejs') %>
    <div class="centered-content">
        <div class="books-container">
            <% if(books.length > 0) { %>
                
                    <% for (let book of books) { %>
                        <div class="book">
                            <h1><%= book.book_title %></h1>
                            <h3><%= book.book_author %></h2>
                            <p><%= book.book_description %></p>
                        </div>
                    <% } %>  
                
            <% } else { %>
                <h1>No books yet, go suggest one!</h1>
            <% } %>
        </div>
        <% if(books.length > 0) { %>
            <form action="/prove02/delete-books" method="POST">
                <button class="btn" type="submit">Delete All Books</button>
            </form>
        <% } %>
    </div>
</body>

</html>