<%- include('includes/head.ejs') %>

<body>
    <%- include('includes/header.ejs') %>
    <h1 class="title"><%= product.title %></h1>
    <div class="centered-content">
        <h3 style="text-align: center;">$<%= product.price %></h3>
        <h3 style="text-align: center;"><%= product.description %></h3>
    </div>
</body>

</html>